.{
    color: crimson;
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12pt;

}
body{
    background-color: burlywood;
    background-image:url(../image/Libpict.jpg);
    background-size: cover;
}
fieldset, legend {
    border-width: 4px;
    border-color: greenyellow;
    border-radius: 30px;
}
legend {
    padding: 10px;
    background-color: beige;
    color: blanchedalmond;
    font-weight: bold;
    font-size: 14px;
}